<section class="author" id="author">
  
    <div class="author-info-wrap">
        <div class="floppy"></div>
        <div class="bobek-photo-wrap">
            <div class="photo-red-border">
                <div class="photo-white-border">
                    <div class="photo-blue-border">
                        <div class="bobek-photo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-author">
            <div class="author-info-banner"></div>
            <div class="author-description">
                Hey! Nazywam się Błażej Wilczyński. <strong>Rockstar</strong> to moja debiutancka książka, w której chciałem zawrzeć legendy związane z mieszkaniem w akademiku, czarne poczucie humoru, granie na gitarze oraz historie kryminalne. <p><p>

                Poza pisaniem interesuję się architekturą, projektowaniem i tworzeniem stron www, grafiką 3D oraz tak jak główny bohater książki - graniem na gitarze.  <p>

                Moim ulubionym zespołem jest Metallica.
            </div>
        </div> 
    </div>
</section>