<section class="book" id="download-book">
    <div class="book-elements-wrap">
      <div class="cover-container">
        <div class="skeleton-cover">
            <div class="glitch-cover">
                <div class="glitch__item-cover"></div>
                <div class="glitch__item-cover"></div>
                <div class="glitch__item-cover"></div>
                <div class="glitch__item-cover"></div>
                <div class="glitch__item-cover"></div>
            </div>
        </div>
      </div>
       <div class="book-download-container" id="download-mobile">
         <div class="book-download-title">Pobierz egzemplarz książki w wybranym formacie:</div>
         <!--<div class="book-development">[Książka po przepisaniu. Jeszcze przed redakcją. Aktualnie jest dostępna jedynie w formacie pdf.]</div>-->
         <div class="book-download-buttons">
           <a href="assets/book/skeleton-blazej-wilczynski.epub" class="button-epub">.epub</a>
           <a href="assets/book/skeleton-blazej-wilczynski.mobi" class="button-mobi">.mobi</a>
           <a href="assets/book/skeleton-blazej-wilczynski.pdf" class="button-pdf">.pdf</a>
         </div>
        
         <div class="book-description">
            <strong>Gustav Drag</strong> jest handlarzem broni w&nbsp;Shadow Villens i&nbsp;początek 2149 - ego roku nie zaczyna się dla niego zbyt dobrze. 
            Na mieście pojawił się nowy typ wszczepu, co powoduje dwa nurtujące pytania. Dlaczego Gustav nie ma jeszcze tego w&nbsp;swojej ofercie oraz co ważniejsze – kto to zbudował? 
            W&nbsp;dodatku odżywają plotki o urządzeniu, które pozwala na wymazanie świadomości z&nbsp;dowolnej osoby i&nbsp;wgraniu innej na jej miejsce. 
            To budzi już nieskończoną liczbę pytań.  Gustav na pewno inaczej wyobrażał sobie swoje 63 urodziny. 
            Jest tylko pewny, że nadal nie pofarbuje włosów i&nbsp;będzie palić tylko retro papierosy z&nbsp;prawdziwym tytoniem. 
            Ma też nadzieję, że jego podwójne życie nie wyjdzie na jaw, ponieważ sprzedaż uzbrojenia to jedynie praca, jego hobby jest już zupełnie inne…
         </div>
       </div>
    </div>
  </section>