<header>
  <div class="header-wrap">
    <div class="skeleton-logo"></div>
    <nav>
      <div class="nav-element" id="download">
        <a href="#download-book">POBIERZ OPOWIADANIE</a>
      </div>
      <div class="polygon" id="download-polygon"></div>
      <div class="nav-element" id="about">
        <a href="#about">O AUTORZE</a>
      </div>
      <div class="polygon" id="about-polygon"></div>

    </nav>
    <div class="social-icons-wrap">
      <div class="social-links">
        
        <div class="social-logo">
          <a href="http://www.instagram.com/blazej_wilczynski" target="_blank">
            {% include icons/instagram-logo.html %}</a>
        </div>

      


      </div>
    </div>

 <!-- start of code of hamburger toggler -->
 <div class="menu-wrap">

  <input type="checkbox" class="toggler">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="#download-mobile">Pobierz książkę</a></li>
          <li><a href="#author">O AUTORZE</a></li>
          

        </ul>
        
        
        <div  class="social-logo-nav-mobile"><a href="https://www.instagram.com/blazej_wilczynski" target="_blank">{% include icons/instagram-logo.html %}</a></div>
      </div>
    </div>
  </div>
</div>
<!-- end of code of hamburger -->

  </div>
</header>
