<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="100%" height="100%" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <g transform="matrix(1.22779,0,0,1.22779,2.7427,-6.05901)">
        <circle cx="6.695" cy="13.939" r="8.254" style="fill:none;stroke-width:1.3px;"/>
    </g>
    <g transform="matrix(1.09257,0,0,1.09257,-0.967891,-1.55859)">
        <path d="M1.791,10.607C1.791,10.607 10.816,12.109 17.579,5.324" style="fill:none;stroke-width:1.3px;"/>
    </g>
    <g transform="matrix(1.09257,0,0,1.09257,-0.967891,-1.55859)">
        <path d="M4.754,18.451C4.754,18.451 10.568,9.312 20.13,12.605" style="fill:none;stroke-width:1.3px;"/>
    </g>
    <g transform="matrix(1.09257,0,0,1.09257,-0.967891,-1.55859)">
        <path d="M7.266,3.039C7.266,3.039 12.572,8.008 15.284,19.79" style="fill:none;stroke-width:1.3px;"/>
    </g>
</svg>
